[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=PhpStorm
Icon=phpstorm
Exec=phpstorm %f
Comment=Lightweight and Smart PHP IDE
Categories=Development;IDE;
StartupWMClass=jetbrains-phpstorm
